body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right,#1dd8db,#3d63e0)
}

#fpage{
    top: 20%;
    left: 33%;
    margin: 20px;
    background-color: #9191ba;
    border: 1px solid;
    box-shadow: 2px 2px 4px 4px #454242;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.inputs{
    
    width: 33px;
    background: linear-gradient(to right,#1dd8db,#3d63e0);
    border: 0;
    
}
.pript{
    
    background: linear-gradient(to right,#1dd8db,#3d63e0);
    border: 0;
}

.btn{
width: 100px;
height: 30px;
margin-top: 5px;
background-color: #1dd8db;
font-size: medium;
border-radius: 4px;
border: 0;
}

.btn:hover{
    background-color: #3d63e0;
}

